{% extends 'contenidos/index.html' %}

{% block tituloCategoria %}
<div class="consectetur_text">
    <h1 style="color: #ffffff;"> <strong> ACERCA DE MI</strong></h1>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock tituloCategoria %}

{% block contenidoCategoria %}
    <div>
        <h1 class="about_taital_1"><strong><span style="color: #f7941d;">Un poco sobre </span> QUIEN SOY</strong></h1>
        <p>
        <p>
        <p>
    </div>

{% endblock contenidoCategoria %}

{% block formConsulta%}
<p>
<p>
<p>
{% endblock formConsulta%}