{% extends 'contenidos/index.html' %}

{% block tituloCategoria %}
<div class="consectetur_text">
    <h1 style="color: #ffffff;">  <strong>BUSCÁ CONSEJOS POR RED SOCIAL</strong></h1>
    <p class="consectetur_text">Filtrá por la Red social que necesites y encontrá los mejores consejos!</p>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock tituloCategoria %}

{% block contenidoCategoria %}
    <div>
        <h1 class="about_taital_1"><strong><span style="color: #f7941d;">Filtrá los  </span> CONSEJOS</strong></h1>

    <form action="{% url 'encontrarConsejos' %}" method="get">
        {% csrf_token %}
        <table>
            <td width="1000" class="align-right"><h2><strong>Ingresa el nombre de la red social: </strong></th>
            <p><input type="text" name="buscarConsejos" id="buscarConsejos"></p>
            <p width="500" class="align-right"><input type="submit" value="BUSCAR"></p>  
        </table>
        
    </form>
        <p>
        <p>
        <p>
    </div>

{% endblock contenidoCategoria %}

{% block formConsulta%}
<p>
<p>
<p>
{% endblock formConsulta%}

