{% extends 'contenidos/index.html' %}

{% block tituloCategoria %}
<div class="consectetur_text">
    <h1 style="color: #ffffff;">  <strong>CAMBIA TU CLAVE</strong></h1>
    <br>
    <br>
    <br>
</div>
{% endblock tituloCategoria %}

{% block contenidoCategoria %}

<td width="200"><h2>Registra una nueva clave para tu cuenta</h2></td>

<form action="" method="post">

    {% csrf_token %}

    <table >
        {{ form.as_table }}

    </table>

    <input type="submit" value="Enviar">

</form>

{% endblock contenidoCategoria %}