{% extends 'contenidos/index.html' %}

{% block tituloCategoria %}
<div class="consectetur_text">
    <h1 style="color: #ffffff;">  MUSICA TENDENCIA</h1>
    <p class="consectetur_text">Mejorá el posicionamiento de tus publicaciones usando la música tendencia del momento</p>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock tituloCategoria %}

{% block contenidoCategoria %}
    <h2> Acá van la musica</h2>

    <table>
        <tr>
            <td width="200"><h2>Nuevo Tema Musical</h2></td>
            <td>
                <a href="{% url 'musicaForm' %}" 
                class="btn btn-primary btn-sm">
                <i class="fa fa-plus fa-lg" title="Crear"> 
                </i>
                </a>
            </td>        
        </tr>
    </table>

    <div class="tabla-contenido">
        <table class="tabla-consejos">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>FECHA</th>
                    <th>ARTISTA/BANDA</th>
                    <th>TÍTULO</th>
                    <th>GÉNERO MUSICAL</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
   
            <tbody>
            {% for m in musica %}
                <tr>
                    <td>{{m.id}}</td>
                    <td>{{m.fecha}}</td>
                    <td>{{m.artista}}</td>
                    <td>{{m.titulo}}</td>
                    <td>{{m.estilo}}</td>
                    <td>
                        <a
                          href="{% url 'musicaUpdate' m.id %}"
                          class="btn btn-primary"
                          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                          <i class="fa fa-edit fa-sm" title="Edit Record"></i>        
                        </a>
                        <a
                          href="{% url 'musicaDelete' m.id %}"
                          class="btn btn-danger"
                          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                          <i class="fa fa-trash fa-sm" title="Delete Record"></i>
                        </a>                
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>
        <p>
        <p>
    </div>

{% endblock contenidoCategoria %}

{% block formConsulta%}
<p>
<p>
<p>
{% endblock formConsulta%}